*.exe
*.log
emulators/
intro/
language/
layouts/
loader/
menu-art/
modules/animate/
modules/extended/
modules/file-layout/
modules/objects/
modules/animate.nut
modules/animlist.nut
modules/conveyor.nut
modules/fade.nut
modules/file-format.nut
modules/file-layout.nut
modules/file.nut
modules/pan-and-scan.nut
modules/preserve-art.nut
modules/spritesheet.nut
modules/submenu.nut
plugins/
romlists/
scraper/
screensaver/
shaders/
stats/
To Be Applied/
attract.am
attract.cfg
Changelog.txt
Compile.txt
Contributing.txt
default-display.cfg
default-emulator.cfg
default-filter.cfg
generator.am
Layouts.txt
License.txt
Readme.txt
script.nv
window.am
